nav {
    background-color:#79D987;
}

.container {
    margin: 20px 20px;
    font-family: lucida-regular;
}

.mL-h2 {
    text-align: center;
}

p {
    padding: 0 0 5px;
}

.mL-logo {
    height: 50px;
    margin-right: 3em;
}

.mL-logo2 {
    height: 50px;
    margin-right: 3em;
    display: none;
}

@media screen and (max-width: 700px) {
    .mL-logo2 {
        height: 50px;
        margin-right: 3em;
        padding-left: 30px;
        display: inline-block;
    }

    .mL-logo {
        display: none;
    }
}