@font-face{font-family:"lucida-regular";src:url("../fonts/lucida_sans_unicode/lucida_sans_unicode_regular-webfont.ttf"),
url("../fonts/lucida_sans_unicode/lucida_sans_unicode_regular-webfont.woff"),
url("../fonts/lucida_sans_unicode/lucida_sans_unicode_regular-webfont.woff2")}
@font-face{font-family:"luloCleanOne-regular";src:url("../fonts/lulo_cleanOne/lulo_cleanOne-regular/lulocleanone-regular.ttf"),
url("../fonts/lulo_cleanOne/lulo_cleanOne-regular/lulocleanone-regular.woff"),
url("../fonts/lulo_cleanOne/lulo_cleanOne-regular/lulocleanone-regular.woff2")}
@font-face{font-family:"luloCleanOne-bold";src:url("../fonts/lulo_cleanOne/lulo_cleanOne-bold/lulocleanone-bold.otf"),
url("../fonts/lulo_cleanOne/lulo_cleanOne-bold/lulocleanone-bold.woff"),
url("../fonts/lulo_cleanOne/lulo_cleanOne-bold/lulocleanone-bold.woff2")}
@font-face{font-family:"raleway-bold";src:url("../fonts/raleway/raleway-bold/raleway-bold.ttf"),
url("../fonts/raleway/raleway-bold/raleway-bold.woff"),
url("../fonts/raleway/raleway-bold/raleway-bold.woff2")}
@font-face{font-family:"raleway-regular";src:url("../fonts/raleway/raleway-regular/raleway-regular.ttf"),
url("../fonts/raleway/raleway-regular/raleway-regular.woff"),
url("../fonts/raleway/raleway-regular/raleway-regular.woff2")}
@font-face{font-family:"Bavro";src:url("../fonts/Bavro/Bavro-Regular.ttf"),
url("../fonts/Bavro/Bavro-Regular.woff"),
url("../fonts/Bavro/Bavro-Regular.woff2")}
@font-face{font-family:"brandon-thin";src:url("../fonts/Brandon/brandon-thin/brandon-thin.ttf"),
url("../fonts/Brandon/brandon-thin/brandon-thin.woff"),
url("../fonts/Brandon/brandon-thin/brandon-thin.woff2")}
@font-face{font-family:"brandon-light";src:url("../fonts/Brandon/brandon-light/brandon-light.ttf"),
url("../fonts/Brandon/brandon-light/brandon-light.woff"),
url("../fonts/Brandon/brandon-light/brandon-light.woff2")}
@font-face{font-family:"brandon-regular";src:url("../fonts/Brandon/brandon-regular/brandon-regular.ttf"),
url("../fonts/Brandon/brandon-regular/brandon-regular.woff"),
url("../fonts/Brandon/brandon-regular/brandon-regular.woff2")}
@font-face{font-family:"brandon-medium";src:url("../fonts/Brandon/brandon-medium/brandon-medium.ttf"),
url("../fonts/Brandon/brandon-medium/brandon-medium.woff"),
url("../fonts/Brandon/brandon-medium/brandon-medium.woff2")}
@font-face{font-family:"brandon-bold";src:url("../fonts/Brandon/brandon-bold/brandon-bold.ttf"),
url("../fonts/Brandon/brandon-bold/brandon-bold.woff"),
url("../fonts/Brandon/brandon-bold/brandon-bold.woff2")}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;list-style:none;}
.nav_categories li{text-shadow:1px 1px 50px #222;}
html{overflow:hidden}
html, body{height:100%;-webkit-overflow-scrolling:touch;}
body{overflow:hidden;overflow-y:auto;-webkit-perspective:1px;-moz-perspective:1px;perspective:1px;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d}
.sliding-u-l-r-l{display:inline-block;position:relative;padding-bottom:1px;}
.sliding-u-l-r-l:before{content:'';display:block;position:absolute;left:0;bottom:0;height:2px;width:0;transition:width 0s ease, background .5s ease;}
.sliding-u-l-r-l:after{content:'';display:block;position:absolute;right:0;bottom:0;height:2px;width:0;background:white;transition:width .5s ease;}
.sliding-u-l-r-l:hover:before{width:100%;background:white;transition:width .5s ease;}
.sliding-u-l-r-l:hover:after{width:100%;background:transparent;transition:all 0s ease;}
.section1{height:829px;position:relative;}
.s1-video_parallax{position:absolute;min-width:100%;min-height:130%;top:20%;left:50%;width:auto;height:auto;-webkit-transform:translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);-moz-transform:translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);transform:translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);z-index:-99;}
.s1-img_parallax{display:none;}
nav{padding:35px 30px;display:flex;align-items:center;justify-content:space-between;}
.nav_categories{display:flex;letter-spacing:0.2em;}
.nav_categories li{padding:5px;font-size:15px;font-family:raleway-regular;}
nav a{color:#fff;padding:0px 0px;}
.navLZ{padding:0px 30px;}
.nav_imgCategories{display:flex;align-items:center;}
.logo{height:50px;margin-right:3em;}
.nav_rs i{font-size:27px;padding:0 5px;}
.s1-content{color:#fff;margin:130px 200px;}
h1{font-size:70px;margin-bottom:20px;font-family:bavro;letter-spacing:0.08em;text-shadow:1px 1px 50px #222;}
h2{font-size:30px;margin-bottom:40px;font-family:brandon-light;text-shadow:1px 1px 50px #222;}
.s1-content{display:flex;align-items:center;justify-content:center;}
.s1-content p{font-size:16px;line-height:25px;width:80%;margin-bottom:60px;font-family:lucida-regular;}
.s1-container-box{text-align:center;}
.s1-logo{width:150px;margin:0 0 35px;animation:ease-in-out animationLogo 3s;}
@-webkit-keyframes animationLogo{0%{opacity:0;transform:rotate(100deg);width:180px;}
40%{opacity:1;transform:rotate(0deg);width:150px;}
100%{opacity:1;transform:rotate(0deg);width:150px;}
}
@keyframes animationLogo{0%{opacity:0;transform:rotate(100deg);width:180px;}
40%{opacity:1;transform:rotate(0deg);width:150px;}
100%{opacity:1;transform:rotate(0deg);width:150px;}
}
#titre{animation:ease-in-out animationTitre 3s;}
@-webkit-keyframes{0%{opacity:0;}
30%{opacity:0;}
50%{opacity:1;}
100%{opacity:1;}
}
@keyframes animationTitre{0%{opacity:0;}
30%{opacity:0;}
50%{opacity:1;}
100%{opacity:1;}
}
#sousTitre{animation:ease-in-out animationSousTitre 3s;}
@-webkit-keyframes{0%{opacity:0;transform:translateY(-100px);color:white;}
50%{opacity:0;transform:translateY(-100px);color:white;}
70%{opacity:0.7;transform:translateY(5px);color:white;}
75%{opacity:1;transform:translateY(0px);color:white;}
100%{opacity:1;transform:translateY(0px);color:white;}
}
@keyframes animationSousTitre{0%{opacity:0;transform:translateY(-100px);color:white;}
50%{opacity:0;transform:translateY(-100px);color:white;}
70%{opacity:0.7;transform:translateY(5px);color:white;}
75%{opacity:1;transform:translateY(0px);color:white;}
100%{opacity:1;transform:translateY(0px);color:white;}
}
.scroll-down{animation:ease-in-out animationScroll 3.5s}
@keyframes animationScroll{0%{opacity:0;}
90%{opacity:0;}
100%{opacity:1;}
}
svg{vertical-align:middle;}
.scroll-down{position:absolute;left:50%;margin-left:-20px;width:40px;height:40px;bottom:35px;padding-left:7px;cursor:pointer;z-index:2;color:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.scroll-down.svg svg{width:25px;opacity:1;-webkit-transition:opacity .5s;-moz-transition:opacity .5s;-ms-transition:opacity .5s;-o-transition:opacity .5s;transition:opacity .5s;}
.scroll-down.svg .stroke{stroke:#fff;}
.scroll-down.svg .scroller{fill:#fff;-webkit-animation:updown 1s infinite;-moz-animation:updown 1s infinite;-o-animation:updown 1s infinite;animation:updown 1s infinite;}
@-webkit-keyframes updown{0%{-webkit-transform:translate(0, 0);transform:translate(0, 0)}
50%{-webkit-transform:translate(0, 5px);transform:translate(0, 5px)}
100%{-webkit-transform:translate(0, 0);transform:translate(0, 0)}
}
@-moz-keyframes updown{0%{-moz-transform:translate(0, 0);transform:translate(0, 0)}
50%{-moz-transform:translate(0, 5px);transform:translate(0, 5px)}
100%{-moz-transform:translate(0, 0);transform:translate(0, 0)}
}
@-o-keyframes updown{0%{-o-transform:translate(0, 0);transform:translate(0, 0)}
50%{-o-transform:translate(0, 5px);transform:translate(0, 5px)}
100%{-o-transform:translate(0, 0);transform:translate(0, 0)}
}
@keyframes updown{0%{-webkit-transform:translate(0, 0);transform:translate(0, 0)}
50%{-webkit-transform:translate(0, 5px);transform:translate(0, 5px)}
100%{-webkit-transform:translate(0, 0);transform:translate(0, 0)}
}
.hamburger-sidebar{position:fixed;width:60%;height:100%;z-index:20;top:0;left:0;background-color:white;transform:translateX(-100%);transition:transform .2s ease-out;display:none;}
#hamburger-button{cursor:pointer;background:none;border:none;font-size:30px;padding:0;line-height:47px;color:white;display:none;}
@media screen and (max-width:700px){.s1-content{margin:20px 5%;}
.s1-logo{width:100px;}
nav{padding:10px 10px;}
.s1-img_parallax{display:inline-block;position:absolute;min-width:100%;min-height:130%;top:20%;left:50%;width:1040px;height:auto;-webkit-transform:translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);-moz-transform:translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);transform:translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);z-index:-99;}
.s1-video_parallax{display:none;}
.hamburger-button-container{display:flex;justify-content:flex-start;}
#hamburger-button{display:block;}
.hamburger-activated .hamburger-overlay{display:block;}
.hamburger-activated .hamburger-sidebar{transform:translateX(0);}
.hamburger-overlay{position:fixed;z-index:10;top:0;left:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.4);display:none;}
.hamburger-sidebar{display:block;}
.hamburger-sidebar ul{flex-flow:column;}
.hamburger-sidebar-body{padding:16px 8px;}
.nav_categories li{padding:10px 0px 10px 30px;color:rgb(147, 198, 143);}
.nav_imgCategories{display:none;}
nav{justify-content:space-between;}
}
.section2{display:flex;background-color:white;}
.s2-containerImg{width:50%;display:flex;align-items:center;justify-content:center;height:816px;padding:100px 0 0 0;}
.s2-container2{background-color:#79D987;width:50%;}
.s2-imgProduit{height:100%;}
.s2-container2 p{color:#fff;}
.s2-container2 .s2-c2-p1{font-family:bavro;font-size:48px;line-height:52px;margin-bottom:75px;color:white;letter-spacing:0.1em;}
.s2-container2 .s2-c2-p2{font-family:lucida-regular;font-size:16px;line-height:24px;margin-bottom:75px;max-width:350px;}
.s2-c2-p3{font-family:lucida-regular;font-size:16px;line-height:24px;margin-bottom:25px;max-width:350px;}
.s2-c2-p4{font-family:lucida-regular;font-size:16px;line-height:24px;margin-bottom:50px;max-width:350px;}
.s2-c2-p5{font-family:lucida-regular;font-size:18px;margin-bottom:15px;}
.s2-c2-container{padding:150px 70px;}
.s2-box-cta-in{display:flex;}
.s2-inputMail{display:block;background:white;padding:15px 10px;font-size:15px;color:#999999;border:1px solid;border-color:#fff;width:200px;}
.s2-inputMail::placeholder{color:#999999;font-size:15px;}
.s2-sendEmail{text-align:center;color:#fff;padding:15px 20px;background-color:rgba(227, 135, 129, 1);font-size:15px;border:none;cursor:pointer;}
.s2-sendEmail:hover{background-color:#cb7c77;transition-duration:0.35s;}
@media screen and (max-width:700px){.sliding-u-l-r-l{text-decoration:none;}
.nav_categories li{text-shadow:0 0 0;}
.section2{padding-bottom:15%;background-color:#79D987;}
.s2-c2-container{padding:50px 70px;}
.s2-containerImg{order:2;width:35%;padding:0;}
.s2-container2{width:65%;}
.s2-box-cta-in{flex-flow:column;}
.s2-box-cta{width:170%;padding:0;}
.s2-inputMail{width:auto;text-align:center;margin-bottom:20px;}
.s2-sendEmail{width:100%;}
.s2-c2-container{padding:50px 15px;}
.s2-imgProduit{height:70%;margin-top:-252px;}
}
@media screen and (max-width:400px){.s2-box-cta{padding:0;width:150%;}
.scroll-down{bottom:10px;}
nav{padding:10px 10px;}
.icons1{margin-bottom:10px;margin-left:100px;width:30%;}
.icons2{margin:10px 100px;width:30%;}
.icons3{margin:10px 100px;width:30%;}
}
.icons1{margin:34px 36%;width:30%;}
.icons2{margin:34px 36% 55px;width:30%;}
.icons3{margin:34px 36%;width:30%;}
.s3s4-imgParallax{background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;background-image:url(../img/ImgParallaxS3.jpg);height:100%;}
.section3{height:700px;position:relative;}
.s3-container-txt{position:absolute;top:0;width:100%;}
.s3-txt{top:100px;}
.s3-rect-filter{width:100%;background-color:rgba(233, 195, 193, 0.15);height:615.56px;}
.s3-container-box{display:flex;justify-content:space-around;}
.s3-p1{font-size:48px;font-family:"bavro";text-align:center;padding-bottom:50px;color:white;margin-top:50px;letter-spacing:0.1em;}
.s3-box{padding:0 20px;color:white;max-width:300px;}
.s3-box-chiffre{color:#79D987;font-size:100px;font-family:"luloCleanOne-bold";text-align:center;padding-left:30px;}
.s3-box-chiffreText{position:relative;}
.s3-box-p2{font-family:"brandon-medium";font-size:18px;line-height:21px;text-align:center;margin-bottom:20px;}
.s3-box-p3{font-family:"lucida-regular";font-size:15px;line-height:21px;text-align:center;}
@media screen and (max-width:700px){.section3{height:1100px;}
.s3-container-box{flex-flow:column;align-items:center;}
.s3-box{padding-bottom:50px;}
.icons1{margin:0px 0px 10px 100px;width:30%;}
.icons2{margin:0px 0px 10px 100px;width:30%;}
.icons3{margin:0px 0px 10px 100px;width:30%;}
}
.section4{background-color:#79D987;height:600px;}
.s4-h3{font-family:bavro;font-size:38px;color:white;padding:100px 0 30px;text-align:center;letter-spacing:0.1em;}
.section4 .s4-box-expert{height:300px;width:400px;background-color:white;display:flex;flex-direction:column;align-items:center;}
.section4 .s4-box-expert2{height:300px;width:400px;background-color:white;display:flex;flex-direction:column;align-items:center;}
.s4-carousel{width:400px;}
.s4-container-carousel{display:flex;align-items:center;justify-content:center;}
.s4-expert-img{border-radius:50%;margin-top:40px;height:150px;filter:grayscale(100%);}
.s4-carousel-quote{transform:rotate(180deg);position:absolute;stroke-width:0px;width:42px;height:48px;}
.s4-box-quote-svg{position:absolute;left:640px;top:30px;}
.s4-box-quote-svg2{position:absolute;left:1040px;top:30px;}
.s4-box-quote-svg3{position:absolute;left:1440px;top:30px;}
.s4-expert-name{color:#303F4D;font-family:luloCleanOne-bold;font-size:16px;margin-top:20px;}
.s4-expert-comment{font-family:helvetica-light;color:#444444;margin-top:15px;}
.s4-carousel-container-hover{height:300px;background-color:white;}
.s4-carousel-box-hover{display:none;text-align:center;position:absolute;width:400px;}
.s4-carousel-quote-hover{transform:rotate(180deg);stroke-width:0px;width:62px;margin:65px auto 20px;}
.s4-carousel-hover-p{font-family:brandon-regular;font-size:20px;line-height:30px;color:rgb(147, 198, 143);max-width:300px;margin:auto;}
.slick-dots li button:before{opacity:0.5;color:white !important;}
.arrow{color:white;width:50px;fill:white;cursor:pointer;}
.arrow-left{position:absolute;top:40%;left:-30%;}
.arrow-right{position:absolute;top:40%;right:-30%;}
.slick-dotted.slick-slider{margin-bottom:30px;}
.slick-dots{position:absolute;bottom:-35px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center;}
.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer;}
.slick-dots li button{line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:none;background:transparent;}
.slick-dots li button:hover,
.slick-dots li button:focus{outline:none;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{opacity:1;}
.slick-dots li button:before{font-family:'slick';font-size:50px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:black;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-dots li.slick-active button:before{opacity:1;color:white;}
.slick-arrow:hover{}
@media screen and (max-width:700px){.s2-c2-container{padding:50px 70px;}
}
footer{width:100%;background-color:white;text-align:center;color:#828282;padding:30px 0;font-size:20px;font-family:brandon-medium;}
footer a{color:#828282;}
footer a:hover{color:#222;}
.footer-br{display:none;}
@media screen and (max-width:700px){.s2-c2-container{padding:50px 30px 0px;}
.footer-br{display:inline-block;}
}